.students {

    &-div {
        text-align: right;
        padding-bottom: 2vh;
    }

    #search3 {
        background-color: rgba(255,255,255,0.6);
    }

    .table-wrap {
        height: 100%;
        overflow-y: auto;
    }

    h1 {
        font-family: 'HarryP';
        font-size: 4vw;
        padding: 2vh 0 0 0;
    }

    text-align: center;
    height: 100%;

    &-image{
        border-radius: 50%;
    }
    
    table {
        border-radius: 10px;

        th{
            border-top: transparent;
            border-bottom: transparent;
        }
    }
}